$primary-colors: (
  "primary-900": #053F47,
  "primary-800": #2A3A3A,
  "primary-700": #4B5A5A,
  "primary-600": #6C7C7C,
  "primary-500": #7C8E8E,
  "primary-400": #97A5A5,
  "primary-300": #B1BDBD,
  "primary-200": #CBD4D4,
  "primary-100": #E4E8E8
);

$secondary-colors: (
  "secondary-900": #CFAB76,
  "secondary-800": #C99965,
  "secondary-700": #770000,
  "secondary-600": #CEA777,
  "secondary-500": #D2AE85,
  "secondary-400": #D8B894,
  "secondary-300": #DEC3A9,
  "secondary-200": #E3D1C1,
  "secondary-100": #FFE3B0
);

$neutral-colors: (
  "neutral-900": #464648,
  "neutral-800": #5C5D5E,
  "neutral-700": #757677,
  "neutral-600": #8F9091,
  "neutral-500": #A9AAAA,
  "neutral-400": #C5C6C6,
  "neutral-300": #E0E1E1,
  "neutral-200": #F1F2F2,
  "neutral-100": #F9FAFA
);

/* MAPA FINAL PLANO */
$custom-colors: map-merge(
 $primary-colors,
    map-merge(
      $secondary-colors,
      $neutral-colors
    )
);
