/* Cormorant Garamond */
@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/cormorant-garamond/CormorantGaramond-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cormorant Garamond";
  src: url("/fonts/cormorant-garamond/CormorantGaramond-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Jost */
@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost/Jost-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
