---
import CardExclusiveCollection from "./CardExclusiveCollection.astro";
import ExclusiveCollection from "./ExclusiveCollection.astro";
---

<section class="section-properties mb-5 mt-5">
  <div class="container pex-5 pex-md-4">
    <div class="row">
      <ExclusiveCollection />
    </div>
  </div>
</section>
